<template name="cardsetLabels">
    {{#unless gotTranscriptBonusAndIsNotShuffled this._id}}
        {{#unless gotTranscriptBonusAndIsNotShuffled this.cardset_id}}
              <span class="badge" title="{{_ "cardset.info.quantity"}}">
                  {{getCardsetCardCount}}
              </span>
        {{/unless}}
    {{/unless}}
    {{{getKind this.kind 0}}}
    {{{getShuffleLabel this.shuffled}}}
    {{{getBonusLabel this.learningActive}}}
    {{#unless this.shuffled}}
        {{{getCardTypeLabel this.cardType}}}
        {{{getDifficultyLabel this.cardType this.difficulty}}}
    {{/unless}}
</template>
