<template name="cardEditorItemButtonSaveReturn">
    <button id="cardSaveReturn"
            class="btn {{#if
                    isEditCard}}btn-success{{else}}btn-default{{/if}} btn-raised save col-xs-12 col-sm-4" {{disableIfOffline}}
            tabindex="14"><i class="fa fa-floppy-o"></i> <i class="fa fa-sign-out"></i> {{_ "savecardReturn"}}
    </button>
</template>
